<div class="wrapper">
  <div class="container">
    <div class="blog-post">
      <p id="notice"><%= notice %></p>

      <h2><%= @blog.title %></h2>

      <p><%= @blog.body %></p>

      <%= link_to 'Back', blogs_path %>
    </div>
  </div>
</div>
