<div id="page" class="container">
	<div class ="image"></div>
</div>
<div id="wrapper">
	<div id="splash" class="container"><span>Welcome to my personal website!</span><br></div>

	<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#"></a></h2>			
				<div class="entry">
					<h3><strong>The Web Journey</strong> is where I will document my work and thoughts as a web developer.  Here, you will find tips for web development and design, blog posts, and my project portfolio.
					</h3>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<div>
				<h2>blog posts</h2>
				<ul class="list-style1">
					<li><a href="learning.html">How I got started</a></li>
					<li><a href="tips.html">Beginner's Tips for Web Design and Development</a></li>
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page --> 
</div>
