// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog {
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  table {
    margin-left:auto;
    margin-right:auto;
    font-size: 200%;
    td {
      margin-right: 20px;
    }
  }
}
