<div id="sidebar">
			<div>
				<h2>blog posts</h2>
				<ul class="list-style1">
					<li><a href="blogs.html">Read my blog!</a></li>
                              <p>I enjoy writing about web development, the environment, and health issues.</p>
				</ul>
			</div>
		</div>
